# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summaried

**Objectives**
- List popular languages for Data Science
- List libraries used for Data Science
- List Data Science Tools
- Practice Arthmetic functions in Python

Some of the popoular languages that Data Sceintists use are:  
1. Python
2. R Language
3. SQL

Some of the commonely used libraries used by Data Scientist include:
1. TensorFlow
2. Pandas
3. PyTorch

| Data Sceince Tools |
| -------------------- |
| Jupyter |
| RStudio |
| Apache |

Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
#this is a simple arithmetic expression to multiply then dd integers
(3*4)+5

17

In [13]:
#this will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Elizabeth Ekeruo